<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2> {{question.question_text}} </h2></legend>
        {% if error_message %}
            <p><strong> {{error_message}} </strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input 
                type="radio"
                name="option"
                id="option{{ forloop.counter }}"
                value="{{ choice.id }}"
                required
            >
            <label for="option{{ forloop.counter }}">
                {{choice.choice_text}}
            </label>
            <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="votar">
</form>
